// color
$main-color: #f875aa;
$sub-color: #fbaccc;
$third-color: #f1d1d0;
$bg-color: #f4f9f9;
$main-font-color: #302f2f;
$sub-font-color: #f875aa;
$white: #fff;

// font
$font-face-jp: "Noto Sans JP", sans-serif;
$font-face-en: "Montserrat", sans-serif;

$base-line-height: 1.7;
// layout
$inner-width: 1280px;
$sp-width: 768px;

// breakpoint
$breakpoints: (
  //キー　　値
  "sp": "screen and (max-width: 767px)",
  //767px以下（スマホ）用の表示
  "tb": "screen and (min-width: 768px)",
  //タブレット用の表示
  "pc": "screen and (min-width: 1280px)" //1280px以上（PC）用の表示
) !default;

// 重なり順
$layer: (
  // loading
  loading: 300,
  // modal
  modal: 100,
  // drawer
  drawer: 40,
  // floating
  floating: 30,
  // header
  header: 20,
  // footer
  footer: 10,
  default: 1
);
