@use "../global/variables" as global;
@use "../global/mixin" as mixin;

.header {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
