@use "../global/variables" as global;
@use "../global/mixin" as mixin;

#c-loading__title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
#c-loading__subtitle {
  font-size: 1em;
  margin-bottom: 2em;
}
