@use "../global/variables" as global;
@use "../global/mixin" as mixin;

.c-drawer__title {
  color: global.$white;
  font-family: global.$font-face-en;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.c-drawer__icon {
  position: fixed;
  z-index: 102;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-drawer__icon--bar {
  width: 100%;
  height: 3px;
  background: global.$main-color;
  transition: all 0.5s ease;
}
//メニューが開いている時 ========
.c-drawer__icon.js-show {
  .c-drawer__icon--bar:nth-of-type(1) {
    rotate: 45deg;
    translate: 0 14.5px;
    background: global.$white;
  }
  .c-drawer__icon--bar:nth-of-type(2) {
    display: none;
  }
  .c-drawer__icon--bar:nth-of-type(3) {
    rotate: -45deg;
    translate: 0 -7.5px;
    background: global.$white;
  }
}
.c-drawer__list {
  padding-left: 60px;
  a {
    font-family: global.$font-face-en;
    font-size: 30px;
    font-weight: 600;
    color: global.$white;
  }
}
.c-drawer__btn {
  display: inline-block;
  padding: 6px 30px;
  background: #fff;
  border-radius: 100vmax;
  color: #001a75;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
